export FLASK_ENV=development
export DATABASE_URL=postgres://qdhucmzj:LMyC5stYk1bJSgdAbjIY8aRIAV2wdwXY@manny.db.elephantsql.com:5432/qdhucmzj
export JWT_SECRET_KEY=cc98de1c-7ade-4c9a-8f7a-83a4a11bbe8f
export PORT=5000
